{% extends 'base.html.twig' %}

{% block title %}Hello ConnectionController!{% endblock %}

{% block body %}
    <div class=" ">
    {% include 'partials/cards/loginCard.html.twig' %}
    </div>
{% endblock %}
