{% extends "base.html.twig" %}
{% block title %} V.Parrot Garage - Acceuil{% endblock %}
{% block body %}
    <h1 class="text-center">acceuil</h1>
    {% include 'partials/cards/AvisCard.html.twig' %}
{% endblock %}