{% extends "base.html.twig" %}
{% block title %} V.Parrot Garage - Acceuil{% endblock %}
{% block body %}
    <header class="vh-home d-flex justify-content-center align-items-center">
        <h1 class="text-center text-white">Garage V.Parrot</h1>
    </header>

    {% include 'partials/cards/AvisCard.html.twig' %}
{% endblock %}