{% extends 'base.html.twig' %}

{% block title %}Voiture Occassion{% endblock %}

{% block body %}
    <h1 class="text-white mb-4 mt-4"> Voiture Occassion {{ id }}</h1>
    {% include 'partials/cards/SingleUsedCar.html.twig' %}

{% endblock %}
