{% extends 'base.html.twig' %}
{% block title %} Ajoute- compte{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4"> Ajouter un compte </h1>
    <div class="w-50 m-auto">
    {{ form(form) }}
    </div>
{% endblock %}
