{% extends 'base.html.twig' %}
{% block title %} Modifier - compte{% endblock %}

{% block body %}
    <h1 class="text-center text-white mt-4 mb-4"> modifier le  compte </h1>
    <div class="w-50 text-white m-auto">
        {{ form(form) }}
    </div>
{% endblock %}