<div class="d-flex justify-content-center ">
    <form class="col-md-4 " >
        <h3 class="text-center">se connecter</h3>
        <div class="form-floating mb-3 text-dark">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">votre email</label>
        </div>
        <div class="form-floating text-dark">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">votre password</label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button class="btn btn-outline-dark me-md-2" type="submit">Connection</button>
        </div>
    </form>
</div>

