<div class="row" id="viewPage">
{% for car in lstCar %}
    <div class="col-md-4">
        <div class="card mb-3" style= "max-width: 540px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('image_voiture_occassion/'~car.lstImage[0].getPathImage) }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8 mb-4">
                    <div class="card-body">
                        <h5 class="card-title">prix : {{ car.prix }}€</h5>
                        <p class="card-text">kilométrage : {{ car.kilometrage }}</p>
                        <p class="card-text">année de frabrication : {{ car.anneeFabrication|date('Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>