{% extends 'base.html.twig' %}

{% block title %}Avis - administration{% endblock %}

{% block body %}

    <h2 class="text-center text-white mb-3"> nouveau avis </h2>

    {% if not lstNewAvis is same as([]) %}
    <div class="row justify-content-center">
        {% include 'partials/Cards/newAvisCard.html.twig' %}
    </div>
    {%  else%}
        <div class="alert alert-info "> il n'y a pas de nouveau Avis !</div>
    {% endif %}
    <h2 class="text-center text-white mb-4"> gestion des Avis</h2>

    <p><a class="btn btn-info" href={{ path('create_avis') }}>Ajouter une Avis</a></p>
    {% if not lstAvis is same as([]) %}
        {% include 'partials/Tableau/avisTableau.html.twig' %}
    {% else %}
        <h4>il n'y a pas de Avis !!!</h4>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/managerAvis.js')}}" defer ></script>
{% endblock %}
