{% extends 'base.html.twig' %}

{% block title %}Création voiture occassion{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Crée une voiture d'occassion</h1>

    {% include 'partials/formulaire/UsedCarForm.html.twig' %}
{% endblock %}
