{% extends 'base.html.twig' %}

{% block title %}Modification voiture occassion{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Modifier la voiture d’occassion </h1>

    {% include 'partials/formulaire/UsedCarForm.html.twig' %}
{% endblock %}