{% extends 'base.html.twig' %}

{% block title %}Gestion voiture occassion{% endblock %}

{% block body %}
        <h1 class="text-center mt-4 text-white">table tous les voiture</h1>
        <p><a class="btn btn-info" href={{ path('usedCar.create') }}>Ajouter  une Voiture </a></p>
        {% include 'partials/tableau/UserCarTableau.html.twig' %}
{% endblock %}
